body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(183, 43, 183, 0.533);
}
main{
    max-width: 600px;
    margin: 40px auto;
    padding: 20px 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
main h1{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    margin-top: 10px;
}
input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea{
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 4px;
    border-radius: 3px;
    border: 1px solid #ddd;
}
button{
    margin-top: 25px;
    background-color: rgb(70, 155, 70);
    color: white;
    display: inline;
    cursor: pointer;
    border: none;
}
button:hover{
    background-color: green;
}
fieldset{
    border: none;
    margin-top: 15px;
}
legend{
    font-weight: bold;
}