body{
        background-color:white;
        color:black;
    }

#About-me{
    font-size: 20px;
    color: brown;
     
}
.about-me{
   background-color:#f0f0ff;
}
.about-me p{
    color: green;
}
.my-work{
    background-color: #f0f0ff;
}
.my-work table th {
    width: 200px; 
    height: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block; 
    text-align: center;
    line-height: 200px; 
}
#p1{
   width: 200px; 
    height: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block; 
    text-align: center;
    line-height: 200px; 
}
#p2 {
    width: 200px; 
    height: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block; 
    text-align: center;
    line-height: 200px; 
}
#p3{
    width: 200px; 
    height: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block; 
    text-align: center;
    line-height: 200px; 
}
#p4{
    width: 200px; 
    height: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block; 
    text-align: center;
    line-height: 200px; 
}
#footer{
    background-color:#005f73;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
}

footer h4 ,p{
    text-align: center;
    color: aqua;
}
